table{
    border-collapse:collapse;
}
table,td{
    border:1px solid black;
}
td{
    height:70px;
    width:70px;
    text-align:center;
    font-size:25px;
}
tr:nth-child(even) td:nth-child(odd){
    background-color:gray;
    }
tr:nth-child(odd) td:nth-child(even){
    background-color:gray;
    }
    .bas{
        border-bottom:3px solid red;
    }
    .haut{
        border-top:3px solid red;
    }
    .gauche{
        border-left:3px solid red;
    }
    .droite{
        border-right:3px solid red;
    }
    .rouge{
        color:red;
        font-weight:bold;
    }